slprj/
docs/
data/
*~
gpops/
old/
*.*.autosave
*.mat
tags
:/
k.dat
*.eps
*.slxc
*.temp
*.asv

arma
*.o
*.a
cpp/*/*.o
test_lidar
test_opt
test_inpoly
test_ps_controller
test_cpz
# *.txt

safeRegion_*.txt
ps_*.txt
ocp_*.txt
